<html>
<iframe id="myFrame" style="width: 500px ; height: 281px"
        src="https://www.youtube.com/embed/SQpkGl7VavI"
        frameborder="0"
allowfullscreen=""></iframe>
<iframe id="myFrame" style="width: 500px ; height: 281px"
        src="https://www.youtube.com/embed/SQpkGl7VavI"
        frameborder="0"
allowfullscreen=""></iframe>
<!--https://www.youtube.com/watch?v=SQpkGl7VavI-->
</html>
<img src="file:///C:/Users/django/Desktop/project%20images/874258-bengal-lockdown.webp" alt="sorry">
